.container {
    border-radius: 10px;
    background: blue;
    padding: 10px;
    color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container>div {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}

input {
    width: 100%;
    font-weight: bold;
}

button {
    background: blueviolet;
    border: solid rgb(30, 0, 128);
    border-radius: 100px;
    padding: 5px;
    font-size: 1rem;
    flex: 1;
    color: cyan;
    font-weight: bold;
}

td:nth-child(2n) {
    display: flex;
}