li {
    padding: 12px;
    padding-left: 40px;
    list-style: inside url(../../assets/unchecked_16.png);
}

li.done {
    background-color: rgb(226, 226, 226) !important;
    list-style: inside url(../../assets/checked_16.png);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

li.important::before {
    content: "!";
    margin: 0 8px;
    color: darkred;
    display: inline-block;
}

li .deadline {
    background-color: rgb(120, 153, 164);
    color: white;
    border-radius: 3px;
    padding: 2px 4px;
}

li:hover {
    filter: brightness(90%);
    cursor: pointer;
}